#game-stage > #app > #game-content #battlePage > .battle-bg-shared{
    position:absolute !important;
    left:0 !important;
    top:0 !important;
    width:420px !important;
    height:746.6666667px !important;
    z-index:0 !important;
    pointer-events:none !important;
    background-size:cover !important;
    background-position:center top !important;
    background-repeat:no-repeat !important;
}

#game-stage > #app > #game-content #battlePage > .battle-wrap{
    position:relative !important;
    z-index:1 !important;
}

#game-stage > #app > #game-content #battlePage > #battleTurnIndicator,
#game-stage > #app > #game-content #battlePage > #battleInfo{
    position:relative !important;
    z-index:2 !important;
}